<h1>Listing articles</h1>

</br>
<% @articles.each do |article| %>
  <div class="title">
    <%= article.title %>
</div>

	<%= image_tag article.photo.url(:medium), :class => "articleimg" %>
	<p class="text-left">
    <%= article.body %>
    <%= article.category_id %>
    <%= link_to 'Show', article %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'New Article', new_article_path %>
</p>