<p id="notice"><%= notice %></p>

<p>
  <div class ="titleshow">
  <%= @article.title %>
</div>
</p>
<p>
<%= image_tag @article.photo.url(:medium) %>
  <%= raw(@article.body) %>
  <a href="#" 
  onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
      'facebook-share-dialog', 
      'width=626,height=436'); 
    return false;">
  Share on Facebook
</a>
</p>





<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
