

<% @articles.each do |article| %>
  <div class="title">
	
	<%= image_tag("logo.png", :alt => "trohka logo",:width => 30, :height => 40) %>
    <%= link_to raw(article.title), article %>


</div>
</br>
<div class="row">
<div class="span3">
	<%= image_tag article.photo.url(:medium), :class => "articleimg" %>
	</div>
	
	<div class="span5">
    <%= raw(article.prebody) %>
    <%= link_to 'Διαβάστε περισσότερα..', article %>
    <%if current_user.admin%>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
</div>
</div>
</br>
</br>


<% end %>

<%if current_user && current_user.admin%>
<button class="btn btn-large btn-primary" type="button"><%= link_to 'New Article', new_article_path %></button>
<% end %>
</br>
